@model IEnumerable<SanPham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SanPhamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SanPhamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SanPhamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
